<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="left-links">
                <a href="{% url 'blog:blog_list' %}">Список блогов</a>
                <a href="{% url 'post:posts_list' %}">Посты блога</a>
            </div>
            <div class="site-title">
                <a href="{% url 'main:index' %}"><h1>MyThoughts</h1></a>
            </div>
            <div class="right-links">
                <a href="{% url 'post:my_posts' %}">Мои посты</a>
                <a href="{% url 'blog:my_subscriptions' %}">Мои подписки</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'users:logout' %}"><button class="primary-btn">ВЫЙТИ</button></a>
                {% else %}
                    <a href="{% url 'users:login' %}"><button class="primary-btn">ВОЙТИ</button></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content">
        <h2>Список пользователей</h2>
        <ul>
            {% for user in users %}
                <li>{{ user.username }}
                    <form action="{% url 'users:delete_user' user.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="primary-btn">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="footer">
        <div class="container">
            <p>&copy; 2024 MyThoughts</p>
        </div>
    </div>
</body>
</html>
